<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
</head>

<body>
    <header>
        <div id="header_slogan">Polinion</div>
    </header>

    <div id="main">
        <div id="main_title">
            当サイトについて
        </div>
    
        <div id="main_contents">
            当サイト"Polinion"は、2020.9.30に運用を開始した、政治や社会問題に対する自分の考えを発信できるサービスです。<br><br>

            私たちはこれからの世界、日本の未来を担っていく若者が、政治や社会問題について、考え、自分の意見を持つ機会が少ないのではないかと感じ、当サイトを発案しました。<br><br>

            Polinionは"Politics"(政治)と"Opinion"(意見)を組み合わせた造語で、政治や社会問題に対して、自らの意見を持ってほしいという思いを込めて、名付けました。<br><br>


            小さな声も、集まれば大きな声になる。<br>
            明るい未来を創るために、声をあげてみませんか？
        </div>

    </div>

    <a href="/" id="back_button">
        <img src="./../static/images/back_button.svg" alt="button">
    </a>



</body>

</html>