<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Polinion</title>
        <link rel="stylesheet" href="../static/top.css">
        <link rel="stylesheet" href="../static/top-PC.css">

    </head>

    <body>
        <header>
            <div id="header_slogan">Polinion</div>
        </header>
        
        <div id="main">
            
            <div id="main_slogan1">
                No our opinion No future<span style="color: red;">.</span>
            </div>
            <div id="main_slogan2">
                私たちの声で未来をつくる
            </div>

            <a href="/topics" id="button"></a>
        </div>
        
        <footer>
            <a href="/detail" id="detail_site">
                このサイトについて
            </a>
            <div id="name">
                ©2020 Polinion
            </div>
        
        </footer>
    </body>

</html>